

.list-card{
  
  margin: 20px;
  font-size: 10px;
  border: 1px ridge gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}