@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



.landing {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://images.unsplash.com/photo-1555037015-1498966bcd7c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGxhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: -1;

}

.landing-content {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  position: absolute;
  left: 5%;
  bottom: 25%;
  width: 90%;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom:50px;
  
}

img.landing-img {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  
}

.btn-landing {
 display:flex;
 margin-top: 200px;
 position: absolute;
 right: 50%;
 font-family: 'Oswald', sans-serif;
 background-color: rgba(235, 99, 51, 0.475);
 box-shadow: 5px, 8px;
 color: rgb(0, 0, 0);
 font-size: 18px;
 border: none;
 width: 90px;

}