@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');


.landing {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://images.unsplash.com/photo-1555037015-1498966bcd7c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGxhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: -1;

}

.landing-content {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: bold;
  width: 70%;
  text-align: left;
  letter-spacing: 2px;
  margin-top: -100px;
  margin-bottom:50px;
  padding-left: 200px;
  padding-right: 50px;
}

img.landing-img {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
  padding-top: 100px;
  
}
.landing-btn {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  transition: 1s ease;
}
.btn-landing:hover {
  transform: scale(1.05);
  background:  rgb(228, 97, 49);
  color: black;
}

.btn-landing {
 display:flex;
 justify-content: center;
 font-family: 'Oswald', sans-serif;
 letter-spacing: 1px;
 background-color: rgba(235, 99, 51, 0.475);
 box-shadow: 0 3px 3px -2px rgb(7, 7, 7);
 color: rgb(250, 246, 246);
 font-size: 18px;
 border: none;
 width: 90px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  img.landing-img {
    width: 60%;
    margin: auto;
  }
  p.landing-content {
  padding-left: 70px;
  padding-top: 70px;
  }
 .landing-btn {
   padding-top: 40px;
 }
}

