@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');

.home-pg {
  font-family: 'Oswald', sans-serif;
}

span {
  color: rgba(235,99,51);
}
a {
  text-decoration: none;
}

/* -------------------------------------------- Meditation ---------------------------------------------------------------- */

.meditation-card {
  width: 240px;
  margin: 20px;
  text-decoration: none;
  background-color: rgba(14, 13, 13, 0.666) ;
  font-size: 10px;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}
.meditation-card:hover{
  transform: scale(1.05);
}

.meditation-img {
  width: 240px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.meditation-blurb {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}

/*  ---------------------------------------------- Gratitude List ---------------------------------------------------------- */

.grat-list-card {
  width: 240px;
  margin: 20px;
  background-color: rgba(14, 13, 13, 0.666) ;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}
.grat-list-card:hover{
  transform: scale(1.05);
}
.grat-list-img {
  height: 279px;
  width: 242px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.grat-list-blurb {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}

/* ------------------------------------------------ Yoga --------------------------------------------------------------- */

.yoga-card {
  width: 240px;
  margin: 20px;
  background-color: rgba(14, 13, 13, 0.666) ;
  font-size: 10px;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}
.yoga-card:hover{
  transform: scale(1.05);
}

.yoga-img {
  height: 279px;
  width: 242px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.yoga-blurb {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}

.container {
  display:flex;
  justify-content:center;
  justify-content: space-evenly;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}