@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');

.home-pg {
  font-family: 'Oswald', sans-serif;
}

span {
  color: rgba(235,99,51);
}
a {
  text-decoration: none;
}

/* -------------------------------------------- Meditation ---------------------------------------------------------------- */

.meditation-card {
  width: 240px;
  margin: 20px;
  text-decoration: none;
  background-color: rgba(14, 13, 13, 0.666) ;
  font-size: 10px;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}
.meditation-img {
  width: 240px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.meditation-content {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}

/*  ---------------------------------------------- Gratitude List ---------------------------------------------------------- */

.grat-list-card {
  width: 240px;
  margin: 20px;
  background-color: rgba(14, 13, 13, 0.666) ;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}

.grat-list-img {
  width: 240px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.grat-list-content {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}

/* ------------------------------------------------ Yoga --------------------------------------------------------------- */

.yoga-card {
  width: 240px;
  margin: 20px;
  background-color: rgba(14, 13, 13, 0.666) ;
  font-size: 10px;
  border: 1px ridge gray;
  display: flex;
  flex-flow: row-wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 3px 3px -2px gray;
  border-top: none;
}

.yoga-img {
  width: 240px;
  box-shadow: 0 3px 3px -2px gray;
  border: 1px ridge gray;
  border-bottom: none;
}

.yoga-content {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:white;
}