
.videos {
  padding: 2rem 2rem 3.5rem 2rem;
}

.begin-1 {
  padding-right: 30px;
}

.begin-2 {
  padding-right: 30px;
}
.inter-1 {
  padding-right: 30px;
}
.inter-2 {
  padding-right: 30px;
}
.adv-1 {
  padding-right: 30px;
}
.adv-2 {
  padding-right: 30px;
}
