@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/* --------------------------------------------- Video ------------------------------------------------------------- */
.videos {
  padding: 2rem 2rem 3.5rem 2rem;
}

.begin-1 {
  padding-right: 30px;
}
.begin-2 {
  padding-right: 30px;
}
.inter-1 {
  padding-right: 30px;
}
.inter-2 {
  padding-right: 30px;
}
.adv-1 {
  padding-right: 30px;
}
.adv-2 {
  padding-right: 30px;
}

.begin-1:hover {
  transform: scale(1.05);
}
.begin-2:hover {
  transform: scale(1.05);
}
.begin-3:hover {
  transform: scale(1.05);
}
.inter-1:hover {
  transform: scale(1.05);
}
.inter-2:hover{
  transform: scale(1.05);
}
.inter-3:hover {
  transform: scale(1.05);
}
.adv-1:hover {
  transform: scale(1.05);
}
.adv-2:hover {
  transform: scale(1.05);
}
.adv-3:hover {
  transform: scale(1.05);
}

/* --------------------------------------------- Fonts ------------------------------------------------------------- */

.title {
  font-family: 'Gabriela', serif;
  font-size:25px;
  color: rgba(235,99,51);
  margin-bottom: 40px;
}

p.yoga-content {
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:black;
}