
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');

.comment-input {
  font-family: 'Oswald', sans-serif;
  width: 50%;
  overflow-y: scroll;
}

.comm-btn {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(235, 99, 51, 0.475);
  box-shadow: 0 3px 3px -2px rgb(172, 172, 172);
  color: rgb(0, 0, 0);
  box-shadow: 0 3px 3px -2px rgb(7, 7, 7);
  font-size: 15px;
  border: none;
  width: 100px;
  margin-left: 20px;
  transition: 1s ease;
}

.comm-btn:hover {
  transform: scale(1.05);
}

