@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


header {
  background-image:linear-gradient(rgb(85, 99, 29), white)
}

img.logo {
  display: flex;
}

.welcome {
  font-family: 'Gabriela', serif;
  font-size: 30px;
  color: rgb(235,99,51);
}

.layout-login {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:black;
  font-size: 20px;
  margin-right: 30px;
}
a.layout-login:hover {
  color:green;
}

.layout-signup {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color:black;
  font-size: 20px
}

a.layout-signup:hover {
  color:green;
}


.layout-btn {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(235, 99, 51, 0.475);
  box-shadow: 0 3px 3px -2px rgb(172, 172, 172);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
  width: 150px;
  display:flex;
  justify-content: center;
  align-content:flex-end

}

.logout {
  display:flex;
  justify-content: flex-end;
  align-content:flex-end;
  margin-right: 20px;
}

.login {
  display:flex;
  justify-content: flex-end;
  align-content:flex-end;
  margin-right: 20px;
}

